/** mixin*/
@function toPx($rem){
  $un: 16;
  $convert: $un * $rem * 1px;
  @return $convert;
}
/**metrics*/
$calendar-height: 700px;
$calendar-controller-height: 700px;
$calendar-content-width: 420px;
$li-height: $calendar-controller-height/21;
$shadow-y: 15px;
$height-event-item: ($calendar-height/10 - 0.6 * toPx(1));
$search-content-width: 37.2%;
$width-search: 100% - $search-content-width;
$width-add-event: $height-event-item;

/**color*/
$back-content: #2b4450;
$back-content-dark: darken($back-content, 10%);
$back-controller: #678797;
$shadow: #c4baba;
$line-event: #8698a1;
$li-background: #948a8a;
$li-background-plus: #89a6b4;
$li-background-odd: #796a6a;
$li-color: #1a2220;


.il-calendar--container {
  margin: 3rem auto;
  align-items: center;
  display: flex;
  width: 100%;
  height: $calendar-height;
  justify-content: center;
  position: relative;
  @import './partials/calendar-content';

  @import './partials/calendar-controller';

  @import './partials/calendar-search';

}
