nav.il-nav--video {
	border-top: 1px solid $firstColor;
	position: relative;
	padding: 0;
	@media #{$medium-and-up} {
		height: $slider-height;
	}
	& .il-video {
		display: flex;
		align-content: center;
		align-items: center;
		position: relative;
		width: 0;
		height: 0;
		@media #{$medium-and-up} {
			width: calc(100% - 50px);
			left: $width-social;
			height: 100%;
			& .il-video--content{
				position: relative;
				width: 100%;
				height: 100%;
				@import './videojs';
			}
		}
		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			$background: $firstColor;
			background-image: url('../images/theme/grid-40.png');
			background-position: center;
			background-repeat: repeat;
		}
	}
	& .il-nav--content {
		position: absolute;
		height: 0;
		width: 0;
		left: -100%;
		@media #{$medium-and-up} {
			height: 100%;
			width: $width-social;
			top: 0;
			left: 0;
			@import './partials/nav-social-vert';
		}
		
	}
	& .il-nav--content__hz {
		position: relative;
		width: 100%;
		height: $width-social;
		box-shadow: 2px 3px 10px rgba(0, 0, 0, .6);
		@import './partials/nav-social-hz';
		@media #{$medium-and-up} {
			height: 0;
			width: 0;
			left: -100%;
		}
	}
}