.il-calendar--controller {
  width: 100%;
  height: 100%;
  background: $back-controller;
  border-radius: 0 4px 4px 0;
  padding: 0 0 0 0.5rem;
  & h4 {
    text-align: center;
    color: #e1e7e9;
    font-size: 1rem;
    width: 100%;
    border-bottom: 1px solid $line-event;
    margin-bottom: 0.2rem;
  }
  & .il-calendar--controller__content {
    display: flex;
    flex-direction: column;
    position: relative;
    & .il-calendar--events {
      display: flex;
      position: relative;
      & ul.il-timeline--list,
      & ul.il-add--events {
        margin-right: 7px;
        & li {
          margin: 0.15rem 0;
        }
      }
      & ul.il-timeline--list {
        font-weight: 500;
        & li {
          text-align: center;
          position: relative;
          height: $height-event-item / 2;
          width: $width-time-line;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: $line-event;
            z-index: 2;
          }
          &:last-of-type:after {
            display: none;
          }
          & span {
            font-size: 0.89rem;
          }
        }
      }
      
      & ul.il-add--events {
        width: 100%;
        & li.il-add {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: $height-event-item + 2px;
          background: $li-background-plus;
          padding: 0 .25rem;
          position: relative;
          width: $width-add-event;
          text-align: center;
          & i {
            cursor: pointer;
            outline: 2px solid $shadow;
            width: 100%;
            &:hover {
              background: $li-background-odd;
              color: $shadow;
              opacity: 0.8;
            }
          }
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: $line-event;
            z-index: 2;
          }
          &:last-of-type:after {
            display: none;
          }
          &--expand {
            width: 100%;
            & i {
              max-width: 46.39px;
            }
            &:nth-of-type(even) .il-event--content table.il-event--head th {
              background: #366074;
              color: #eee;
            }
            &:nth-of-type(even)
              .il-event--content
              table.il-event--head
              tbody
              tr {
              //background: rgb(134, 125, 125);
              color: rgb(53, 42, 153);
            }
          }
          & .il-event--content {
            position: absolute;
            width: 0;
            height: 100%;
            left: -100%;
            margin-left: -4px;
            color: $li-color;
            transition: 500ms;
            & table.il-event--head {
              font-size: 0.8rem;
            }
            & .il-event--caption {
              text-align: center;
              & span {
                font-weight: 0.9rem;
                margin-right: 0.15rem;
              }
            }
            &.il-event--show {
              transition: 500ms;
              width: calc(100% - 50px - 0.7rem);
              left: calc(50px + 0.9rem);
            }
          }
        }
      }
    }
    & .il-calendar--btn {
      position: absolute;
      opacity: 0;
      top: -1.85rem;
      right: -50%;
      transition: 500ms;
      &.il-btn--show {
        transition: 500ms;
        right: 2px;
        opacity: 1;
      }
    }
  }
}