.il-nav--content__sociais-hz {
    @media #{$smaller-and-down} {
    	padding: 0 1rem;
    }
    & ul.il-sociais--list__hz {
        display: flex;
        width: 100%;
		height: 50px;
        justify-content: space-between;
        transition: 450ms;
        @media #{$medium-and-up} {
            transition: 450ms;
            display:none;
        }
        & li {
            line-height: 50px;
			flex: auto;
			text-align:center;
            & i {
                cursor: point;
            }
            &.il-user {
                position: relative;
				text-align: right;
                @import "./nav-user";
            }
        }
    }
}