.il-nav--content__sociais {
    padding: 0.35rem 0;
    height: 100%;
    & ul.il-sociais--list {        
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        transition: 450ms;
        height: 100%;
        & li {
            text-align: center;
            width: 34px;
            height: 34px;
            border-radius: 50%;
                padding: 1px;
                border: 1px solid $thirdColor;
            & i {
                cursor: pointer;
                line-height: 30px;
                
                &:hover{
                    color: $secondColor !important;
                }
            }
            &.il-user {
                position: relative;
                background: $secondColor;
                @import "./nav-user";
            }
            
        }
    }
}